{% extends "_layouts/cp" %}

{% set title = "SiteSync"|t %}

{% do view.registerAssetBundle("fortyfive\\staticsitepipelinesync\\assetbundles\\staticsitepipelinesync\\StaticSitePipelineSyncAsset") %}

{% set content %}
    <div class="container">
        <h2>Site Sync Panel</h2>
        {% if not hasSettings %}
            <p>Please go to the settings of the plugin and be sure that all the data required is set.</p>
        {% else %}
            <p>Make click in the button to trigger the AWS Pipeline and publish a new version of the site.</p>
            <div class="btngroup submit">
                <a id="ssps-publish" class="btn submit" href="{{ cpUrl('static-site-pipeline-sync/publish') }}">Trigger Pipeline</a>
            </div>

            <svg id="ssps-loader" class="hide" width="135" height="140" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#222">
                <rect y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                             begin="0.5s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                    <animate attributeName="y"
                             begin="0.5s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                </rect>
                <rect x="30" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                             begin="0.25s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                    <animate attributeName="y"
                             begin="0.25s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                </rect>
                <rect x="60" width="15" height="140" rx="6">
                    <animate attributeName="height"
                             begin="0s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                    <animate attributeName="y"
                             begin="0s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                </rect>
                <rect x="90" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                             begin="0.25s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                    <animate attributeName="y"
                             begin="0.25s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                </rect>
                <rect x="120" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                             begin="0.5s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                    <animate attributeName="y"
                             begin="0.5s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                </rect>
            </svg>

            <h3 id="ssps-done" class="hide">Done!</h3>

            <h3 id="ssps-error" class="hide">Sorry, there was an error.</h3>

            <h3 id="ssps-fatal-error" class="hide">Something went wrong, please try again later</h3>
        {% endif %}
    </div>
{% endset %}